<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding" maxBufferPoolSize="524288" maxReceivedMessageSize="65536">
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/ExpenseService"
                binding="wsHttpBinding"
                bindingConfiguration="wsHttpBinding"
                contract="ExpenseService.IExpenseService"
                name="ExpenseService"/>

      <endpoint address="http://localhost:8000/ExpenseWorkflowService"
                binding="wsHttpBinding"
                bindingConfiguration="wsHttpBinding"
                contract="ExpenseWorkflowService.IExpenseWorkflowService"
                name="wsHttpExpenseWorkflowService"/>
    </client>
  </system.serviceModel>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
