<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	
		
	<connectionStrings>
		<!-- CHANGE CONNECTION STRING SETTINGS HERE -->
        <add name="ExpenseEntities" connectionString="metadata=res://*/ExpenseModel.csdl|res://*/ExpenseModel.ssdl|res://*/ExpenseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\SQLExpress2008R2;Initial Catalog=ExpenseSample;Persist Security Info=True;User ID=sa;Password=LaqueseaD1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
        <add name="WorkflowStore" connectionString="server=(local)\SQLExpress2008R2;database=WorkflowInstanceStore;uid=sa;pwd=LaqueseaD1;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

		<services>
			<service name="ExpenseSample.Services.ExpenseService" 
							 behaviorConfiguration="serviceBehavior">
				
				<endpoint name="wsHttpExpenseService" 
									address="" 
									binding="wsHttpBinding" 
									contract="ExpenseSample.Services.Contracts.IExpenseService"/>

				<endpoint name="netTcpExpenseService"
									address=""
									binding="netTcpBinding"
									contract="ExpenseSample.Services.Contracts.IExpenseService"/>

				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/ExpenseService"/>
						<add baseAddress="net.tcp://localhost:8001/ExpenseService"/>
					</baseAddresses>
				</host>
			</service>
			
			<service name="ExpenseWorkflowService" 
							 behaviorConfiguration="workflowServiceBehavior">

				<endpoint name="wsHttpExpenseWorkflowService" 
									address="" 
									binding="wsHttpBinding" 
									contract="IExpenseWorkflowService"/>

				<endpoint name="netTcpExpenseWorkflowService"
								address=""
								binding="netTcpBinding"
								contract="IExpenseWorkflowService"/>
				
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/ExpenseWorkflowService"/>
						<add baseAddress="net.tcp://localhost:8001/ExpenseWorkflowService"/>
					</baseAddresses>
				</host>
			</service>
			
		</services>
		
		<behaviors>
			<serviceBehaviors>

				<behavior name="workflowServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<sqlWorkflowInstanceStore connectionStringName="WorkflowStore"
								hostLockRenewalPeriod="00:00:05"
								runnableInstancesDetectionPeriod="00:00:02"
								instanceCompletionAction="DeleteAll"
								instanceLockedExceptionAction="AggressiveRetry"
								instanceEncodingOption="GZip"/>
				</behavior>

				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
			
		</behaviors>
	</system.serviceModel>

	<!--<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="System.ServiceModel"
										switchValue="Information, ActivityTracing" 
										propagateActivity="true">
				<listeners>
					<add name="sdt"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "ExpenseService.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>-->

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
